<html>
<style>
    a{
        text-decoration: none;
    }
    p{
        align-content: flex-end;
    }
    nav{
        display: flex;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    li{
        margin-left: 20px;
    }
    body {
  background-image: url('assets/images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


</style>

<body>
<nav>
    <img src="./assets/images/logo.png" height="150" width="150" title="logo" alt="logo">
    
    <p><ul>
    <li><a href="/userprofile">View User Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul></p></nav>


<h1> Transport Sage</h1>

<footer>&copy; CopyRight 2022 TransportSage. All Rights Reserved.</footer>
</body>
</html>
