<html>
<head>
    <style>
        body {
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
    background: rgba(151, 151, 151, 0.4);
    border-radius: 25px;
    /* border: 1px solid black; */
    height: 24em;
    width: 26em;
    padding: 2em;
    margin-left: 31em;
    margin-top: 8em;
    text-align: center;
}

h1{
    font-family: Mommy Lemon;
    font-size: 45px;
}


    </style>

</head>
<body>
<div class="login">
<h1>
    Login Page
</h1>
<form action="/login" method="POST">
    <label for="username">UserName</label>
    <input type="text" placeholder="username" id="xyz" name="username"> <br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"> <br><br>
    <button>Login</button>
</form>
Don't have an account? Register <a href="/register"> Here</a><br><br><br>


<footer>&copy; CopyRight 2022 TransportSage. All Rights Reserved.</footer></div>
</body>
</html>