<html>
<style>
    a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
}
    p{
        margin-left: 24em;
    }
    nav{
        display: flex;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    li{
        margin-left: 15px;
        font-size: 20px;
        font-family: MV Boli;
    }
    body {
  background-image: url('../assets/images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    text-align: center;
    font-family: colorado;
    font-size: 62px;
    color: rgba(0, 0, 0, 0.8);
}
.content{
    display: flex;
    margin-left: 4em;
}

footer {
   text-align: center;
   bottom:0;
   background:rgba(151, 151, 151, 0.4);
   padding: 3px;
}

.feedback{
    background: rgba(151, 151, 151, 0.4);;
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 2em;
    width: 40em;
    margin-left: 26em;
    margin-bottom: 5em;
    text-align: center;
}

</style>

<body>
<nav>
    <a href="/home"><img src="../assets/images/logo.png" height="200" width="200" title="logo" alt="logo"></a>
    
    <p><ul>
    <li><a href="/home">Home</a></li>
    <li><a href="">Services</a></li>
    <li><a href="/feedback">Contact Us</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul></p>
</nav>
<br>
<h1>
    User Profile
</h1>
<section class="profile">

</section>

<script src='/views/js/jquery.min.js'></script>
    <script src='/views/js/userprofile.js'></script>
      
<footer>&copy; CopyRight 2022 TransportSage. All Rights Reserved.</footer>
</body>
</html>